@page "/order"
<div class="container-track px-1 px-md-4 py-5 mx-auto">
    <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
            <div class="d-flex">
                <h5>ORDER <span class="text-primary font-weight-bold">#Y34XDHR</span></h5>
            </div>
            <div class="d-flex flex-column text-sm-right">
                <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                <p>USPS <span class="font-weight-bold">234094567242423422898</span></p>
            </div>
        </div>
        <!-- Add class 'active' to progress -->
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <ul id="progressbar" class="text-center">
                    <li class="active step0">
                        <span class="icon"></span>
                        <p class="font-weight-bold">Order Processed</p>
                    </li>
                    <li class="active step0">
                        <span class="icon"></span>
                        <p class="font-weight-bold">Order Shipped</p>
                    </li>
                    <li class="active step0">
                        <span class="icon"></span>
                        <p class="font-weight-bold">Order En Route</p>
                    </li>
                    <li class="step0">
                        <span class="icon"></span>
                        <p class="font-weight-bold">Order Arrived</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="/css/OrderTrack.css" />


@code {

}
