@page "/wishlist"
@using Application.DTOs.Request.ProductEntity
@using Application.Interfaces
@using Domain.Models.Authentication
@using Domain.Models.ProductEntity
@using System.Security.Claims
@inject IMenuRepository menuService
@inject IBuyerRepository buyerService
<section class="py-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="bootstrap-tabs product-tabs">
                    <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                        <h3>@CategoryTag</h3>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a href="#" class="nav-link text-uppercase fs-6 active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all">All</a>                                                               
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                                @foreach (var product in Products)
                                {
                                    <div class="col">
                                        <div class="product-item">
                                            <span class="badge bg-success position-absolute m-3">-30%</span>
                                            <a @onclick="()=> LikeProduct(product.Id)" class="btn-wishlist" style="text-decoration: none;"><i class="fa-regular fa-heart"></i></a>
                                            <figure>
                                                <a @onclick="() => NavigateToProductDetails(product.Id)" title="Product Title">
                                                    <img src="@product.CoverImageUrl" class="tab-image">
                                                </a>
                                            </figure>
                                            <h3>@product.Name</h3>
                                            <span class="rating"><i class="fa-regular fa-star"></i> 4.5</span>
                                            <span class="price">$@product.SellingPrice</span>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="input-group product-qty">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                                            <i class="fa-solid fa-minus"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart" /></a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <!-- / product-grid -->

                        </div>                                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .tab-image {
        width: 100%; /* Make the image take up the full width of its container */
        height: auto; /* Maintain the aspect ratio */
        object-fit: cover;
        border-radius: 8px;
    }

    .card-container {
        width: 150px;
        height: 150px;
        overflow: hidden; /* Hide overflow if the image is too large */
    }

    .tab-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; } = null!;
    private string userId;

    [Parameter]
    public string CategoryTag { get; set; }
    private string likeMessage = string.Empty;

    IEnumerable<ProductDTO> Products;

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthStateTask;       

        var userIdClaim = authState.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
        Products = await buyerService.GetLikedProductsAsync(userId);
    }

    private void NavigateToProductDetails(string product)
    {
        NavManager.NavigateTo($"/product-details/{product}");
    }

    private async Task LikeProduct(string ProductId)
    {          
        var response = await buyerService.LikeProductAsync(ProductId, userId);
        likeMessage = response.Message;
    }

}
