@inherits LayoutComponentBase
<div class="main-layout">
    <div class="nav-container">
        <nav>
            <NavMenu />            
        </nav>
    </div>

    <div class="content">
        @Body
    </div>
</div>
